.rodape{
    text-align: center;
    margin: auto;
    margin-top: 32vh;
   
}
@media screen and (max-width:788px) {
    .rodape{
        text-align: center;
        margin: auto;
        margin-top: 40vh;
    }
}